* {
    box-sizing: border-box;
}

body {
    font-family: "cnx-regular", Arial, Helvetica, sans-serif;
}

section#home_banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 16px 0 60px;

}


.container {
    max-width: 1450px;
}

.home_form {
    background: #DC1431;
    padding: 10px 15px 0;
}

.home_form {
    background: #DC1431;
    padding: 10px 15px 38px;
    max-width: 280px;
    width: 280px;
    float: right;
    position: relative;
}

.home_form .form-group input {
    height: 40px;
    color: #414141;
    font-size: 16px;
    border: 1px solid #d1c9c0;
    border-radius: 0px;
}

.home_form .form-group {
    margin-bottom: 8px;
}

.home_form .form-check input {
    width: 25px;
    height: 25px;
    border-radius: 0px !important;
}

.home_form .form-check label.form-check-label {
    font-size: 14px;
    color: #fff;
    padding-left: 10px;
}

.home_form button {
    background-color: #DC1431;
    border: 1px solid #fff;
    color: #fff;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    font-size: 17px;
    margin-top: 10px;
}

.home_form p a {
    color: #fff;
    font-size: 14px;
}

.home_form p {
    margin: 5px 0 0px;
}

.home_form h4 {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}

.home_form h4 a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.home_form h5 a {
    color: #fff;
    text-decoration: none;
}

.home_form h5 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-color: #C41230;
    padding: 10px 0;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.atm_add {
    background: #0073CF;
    float: right;
    width: 280px;
    max-width: 280px;
    margin-top: 12px;
}

.atm_add a.btn {
    color: #fff;
    font-size: 14px;
    text-align: inherit;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}

.atm_add a.btn i {
    font-size: 20px;
}

.atm_add a.btn.sec {
    background: #0052C2;
}

.atm_add a.btn.sec i {
    font-size: 17px;
}

section#home_banner .heading h2 {
    width: 589px;
    max-width: 68%;
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
}

section#home_banner .heading p {
    max-width: 512px;
    margin-top: 14px;
    font-size: 20px;
    line-height: 29px;
}

section#home_banner .heading a.btn {
    background-color: #DC1431;
    color: #fff;
    margin-top: 15px;
    border-radius: 0px;
    font-size: 16px;
    padding: 7px 25px;
    line-height: 26px;
}


.comment_box {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    padding-left: 60px;
    padding-top: 43px;
}


.comment_box .set {
    max-width: 310px;
    background: #fff;
    padding: 18px 20px;

}

.comment_box .set h2 {
    color: #DC1431;
    font-size: 22px;
    line-height: 1em;
    font-weight: 400;
}

.comment_box .set p {
    color: #000;
    font-size: 0.9em;
    margin: 1em 0;
}

.comment_box .set a {
    font-size: 16px;
    text-decoration: none;
    color: #0052C2;
}

.comment_box .set a i {
    font-size: 19px;
    vertical-align: middle;
    -webkit-text-stroke: 1px;
}

section#save_card .box img {
    height: 55px;
}

section#save_card .box h2 {
    font-size: 24px;
    color: #DC1431;
    line-height: 24px;
    font-weight: 400;
    margin-top: 12px;
}

section#save_card .box p {
    font-size: 16px;
    line-height: 23px;
}

section#save_card .box {
    padding-left: 35px;
    padding-right: 25px;
}


section#save_card {
    background-color: #F2F2F2;
    padding: 20px 0 75px;
    position: relative;
}

section#save_card .box a {
    font-size: 16px;
    text-decoration: none;
    color: #0052C2;
}

section#save_card .box a i {
    font-size: 19px;
    vertical-align: middle;
    -webkit-text-stroke: 1px;
}

section#save_card .col-lg-3 {
    position: relative;
}

section#save_card .col-lg-3:not(:last-child)::after {
    background-color: #d3d3d3;
    bottom: 10px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
}

section#save_card svg.curve-bottom.show-for-large-up {
    position: absolute;
    top: -37px;
    left: 1px;
    right: 0;
    margin: auto;
    text-align: center;
}

section#save_card svg.curve-bottom.show-for-medium-up {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

section#save_card:before {
    position: absolute;
    content: "";
    background-image: url(/images/curv-1.png);
    background-size: cover;
    width: 100%;
    height: 45px;
    top: -39px;
    z-index: 99;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: auto;
}

section#save_card:after {
    position: absolute;
    content: "";
    background-image: url(/images/curv-2.png);
    background-size: cover;
    width: 100%;
    height: 45px;
    bottom: 0px;
    z-index: 99;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: auto;
}

section#footer {
    background-color: #012169;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

section#footer ul.foot_link {
    list-style: none;
    padding-left: 0;
}

section#footer ul.foot_link li {
    display: inline-block;
    position: relative;
    margin-bottom: 2px;
}

section#footer ul.foot_link li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

section#footer ul.foot_link li:not(:last-child) {
    margin-right: 25px;
}

section#footer ul.foot_link li:not(:last-child):before {
    position: absolute;
    content: "";
    top: 3px;
    background: #ffffff8f;
    width: 1px;
    height: 15px;
    right: -16px;
    bottom: 0;
    margin: auto;
}

section#footer .socail h2 {
    font-size: 16px;
    font-weight: 600;
}

section#footer .socail ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

section#footer .socail p {
    font-size: 14px;
    margin-bottom: 2px;
}

section#footer .socail p a {
    color: #fff;
}

section#footer .socail p a:hover {
    text-decoration: none;
}

section#footer .socail h3 {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 12px;
    font-weight: 400;
}

section#footer .socail h3 a {
    color: #fff;
}


section#financial .set {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 380px;
    position: relative;
}

section#financial .set a {
    display: block;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    position: relative;
    padding-left: 52px;
    padding-right: 15px;
}

section#financial .set_box {
    position: absolute;
    bottom: 62px;
    left: 0;
    right: 0;
    margin: 0 15px;
    padding: 8px 0 40px 10px;
    background: #fff;
    height: 94px;
}

section#financial .set a img {
    width: 45px;
    display: inline-block;
    position: absolute;
    left: 0px;
}

section#financial {
    margin-top: 40px;
}

section#financial h1 {
    text-align: center;
    font-size: 48px;
    line-height: 52px;
    font-weight: 400;
}

section#financial h2 {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    margin: 12px 0;
}

section#financial .home {
    margin-top: 60px;
    position: relative;
}

section#financial .home:before {
    position: absolute;
    content: "";
    background-image: url(/images/fina-curve1.png);
    background-size: cover;
    width: 100%;
    height: 41px;
    top: -5px;
    z-index: 99;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: auto;
}


section#financial .home:after {
    position: absolute;
    content: "";
    background-image: url(/images/fina-curve2.png);
    background-size: cover;
    width: 100%;
    height: 45px;
    bottom: 0px;
    z-index: 99;
    background-repeat: no-repeat;
    left: 1px;
    right: 0;
    margin: auto;
}


section#financial h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

section#financial a.btn {
    margin-top: 40px;
    color: #fff;
    background-color: #0052C2;
}

section#financial a.btn {
    margin-top: 15px;
    color: #fff;
    background-color: #0052C2;
    font-size: 18px;
    font-weight: 400;
    border-radius: 0px;
    padding: 8px 20px;
}

section#online_bank {
    background: #F2F2F2;
    padding: 30px 80px;
}

section#online_bank h5 a {
    color: #012169;
    font-size: 14px;
    margin-bottom: 12px;
    display: block;
    font-weight: 400;
}

section#online_bank p {
    color: #595959;
    font-size: 14px;
}

section#online_bank h2 {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
}

section#online_bank .legal-invest-table {
    background: none;
    border: solid 1px #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    table-layout: auto;
    width: 100%;
    margin-top: 18px;
}

section#online_bank .legal-invest-table .cell {
    border: 1px solid #000;
    border-collapse: collapse;
    border-spacing: 0;
    color: #333;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    padding: 9px 22px;
    text-align: center;
    line-height: 20px;
}

section#information h1 {
    text-align: center;
    font-size: 48px;
    line-height: 52px;
    font-weight: 400;
    margin-bottom: 40px;
}

section#information {
    margin-top: 70px;
}

section#information .phone_img {
    height: 390px;
    background-size: 300px 630px, cover;
    background-repeat: no-repeat;
    background-position: 66% 11px, center;
}

section#information .phone_box h3 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 80px;
}

section#information .phone_box p {

    font-size: 24px;
    color: #6B5E51;
    line-height: 34px;
    margin-top: 15px;
}

section#information .phone_box {
    max-width: 505px;
    margin: auto;
}

section#information .phone_box a.btn {
    font-size: 19px;
    padding: 8px 20px;
    background-color: #dc1431;
    color: #fff;
    border-radius: 0px;
    margin-top: 6px;
}

.information_sec {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.information_sec:before {
    position: absolute;
    content: "";
    background-image: url(/images/info-curve.png);
    background-size: cover;
    width: 100%;
    height: 38px;
    top: -38px;
    z-index: 99;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: auto;
}

.information_sec .phone_img {
    height: 320px !important;
}

.information_sec .phone_box h3 {
    font-size: 32px !important;
    color: #fff;
    font-weight: 400 !important;
    max-width: 300px;
    margin-bottom: 20px;
}

.information_sec .phone_box a.btn {
    font-size: 18px !important;
    background-color: transparent !important;
    border: 1px solid #fff !important;
}











/* header */
.header .hed {
    background: #F2F2F2;
    color: #000;
    padding: 6px 0 8px;
    margin-bottom: 24px;
}

.header .hed ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .hed ul li {
    display: inline;
    margin-right: 20px;
}

.header .hed ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.header .hed ul li a img {
    height: 18px;
}

.header a.logo img {
    height: 32px;
    margin-left: 75px;
}

.header .navbar {
    margin-top: 15px;
    padding: 0 75px;
}


.header .navbar ul li.nav-item:first-child {
    padding-left: 0;
}

.header .navbar ul li.nav-item {
    padding: 0 35.3px;
}

.header .navbar ul li.nav-item:last-child {
    padding-right: 0;
}

.header .navbar ul li.nav-item a {
    color: #000;
    display: block;
    font-size: 20px;
    height: 100%;
    line-height: inherit;
    padding: 10px 0 14px;
    position: relative;
    border: none;
    border-bottom: 3px solid transparent;

}

.header .search.float-end i {
    font-size: 18px;
    position: relative;
    top: 2px;
}

.header .search.float-end {
    background: transparent;
    border: navajowhite;
    padding: 3px 0;
}

.header .navbar .navbar-nav {
    border: none;
}

.header .navbar ul li.nav-item a.active {
    border-bottom: 3px solid #333;
}

.header .navbar ul li.nav-item a img {
    height: 25px;
}

.showtext {
    padding: 40px 75px 0;
    background: #f2f2f2;
    min-height: 500px;
}

.showtext h4 {
    color: #000;
    font-size: 24px;
}

.showtext a.shop_all {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #0052C2;
    margin-top: 24px;
    display: inline-block;
    color: #ffff;
    text-decoration: none;
    width: 360px;
    text-align: center;
}

.Signature_div a {
    font-size: 18px;
}

.showtext ul.Credit li {
    margin-bottom: 26px;
}

.showtext ul.Credit li i {
    font-size: 27px;
    margin-right: 12px;
    color: #626262;

}

.showtext .tips h4 {
    max-width: 360px;
}

.showtext ul li {
    margin-bottom: 10px;
}

.showtext ul li a {
    color: #0073CF;
    font-size: 20px;
    text-decoration: none;
}

.showtext ul {
    padding: 0;
    list-style: none;
}

.showtext a {
    color: #0073CF;
    font-size: 20px;
    text-decoration: none;
}

.showtext .Manage {
    border-top: 1px solid #d3d1d1;
}

.showtext .Signature_div {
    border-top: 1px solid #d3d1d1;
    padding: 10px 0
}

.showtext .Signature_div a.Signature {
    font-size: 24px;
}

.showtext .set {
    background-color: #fff;
    box-shadow: 0 2px 4px #d1c9c0;
    margin-right: 2px;
    overflow: hidden;
    padding: 12px 28px 20px;
    position: relative;
    width: 100%;

}

.showtext .tips .set {
    max-width: 250px;
}

.showtext .set a {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400;
    display: block;
}

.showtext .set h6 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

.showtext ul li p {
    font-size: 18px;
}

/* ********** Inner Pages Tab Css ********/

section#tab_sec {
    background: #f2f2f2;
    padding-top: 25px;
}

.accounts_tab h1 {
    font-size: 24px;
    font-weight: 600;
}

section#tab_sec .nav-link.active {
    color: #000;
    background-color: #ffffff;
    border-radius: 0px !important;
    border-bottom: 3px solid;
}

section#tab_sec .nav-link {
    color: #000;
    border-radius: 0px !important;
    font-size: 18px;
}

.accounts_tab h1 {
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0 30px;
    margin-bottom: 0;
}

.accounts_tab h1 i {
    font-size: 24px;
    margin: 0 20px;
}

.accounts_tab h1 a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.accounts_tab .set h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
}

.accounts_tab .set p {
    font-size: 17px;
    margin: 2px 0 0;
    color: #0d6efc;
}

.accounts_tab .set h3 {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 12px;
}


.accounts_tab .set h4 {
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accounts_tab .spacing {
    padding-right: 90px;
}

.accounts_tab .set h4 a {
    text-decoration: none;
}


.accounts_tab .set h5 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #0d6efd;
}

.accounts_tab .bg {
    background: #F2F2F2;
    padding: 15px 0;
}

section#tab_sec ul#pills-tab {
    background: #fff;
    border-bottom: 1px solid #ccc;
}


.transition_tab h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 18px 0;
}

.transition_tab .form-group label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.transition_tab .form-group input {
    height: 50px;
    border: 1px solid #aaa;
}

.transition_tab .form-group select {
    height: 50px;
    border: 1px solid #aaa;
}

.transition_tab .form-group {
    position: relative;
}

.transition_tab .form-group button {
    position: absolute;
    top: 30px;
    right: 0;
    height: 50px;
    width: 50px;
    border: none;
    background: transparent;
    font-size: 20px;
    -webkit-text-stroke: 1px;
}

.transition_tab .fiter_btn p {
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 600;
}

.transition_tab .fiter_btn {
    margin-top: 33px;
}

.transition_tab .fiter_btn p i {
    font-size: 28px;
    vertical-align: sub;
    -webkit-text-stroke: 1px;
}

.transition_tab ul {
    list-style: none;
    padding-left: 0;
    text-align: end;
    margin: 30px 0 15px;
}

.transition_tab ul li {
    display: inline-block;
    position: relative;
}

.transition_tab ul li:not(:last-child) {
    margin-right: 22px;
}

.transition_tab ul li:not(:last-child):after {
    content: "";
    position: absolute;
    background: #0d6efd;
    width: 1.2px;
    height: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -13px;
}

.transition_tab ul li a {
    text-decoration: none;
    font-size: 18px;
}

.transition_tab th {
    font-size: 16px;
    padding: 18px 10px;
}

.transition_tab th i {
    -webkit-text-stroke: 1px;
}

.transition_tab td {
    padding: 20px 10px !important;
    font-size: 15px;
    font-weight: 500;
}

.transition_tab td a {
    display: block;
    text-decoration: none;
    margin-top: 2px;
}

.transition_tab td .form-check input {
    border: 2px solid #aaa;
    width: 22px;
    height: 22px;
    border-radius: 3px !important;
}

.tab_bg_color {
    background: #fff;
    padding: 0 10px;
}

.add_coupon {
    border: 1px solid;
    max-width: 250px;
    text-align: center;
    padding: 5px;
    margin: 15px auto 0;
}

.add_coupon span {
    font-size: 14px;
    font-weight: 600;
}

.add_coupon h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

.add_coupon p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 18px;
}

.add_coupon img {
    height: 100px;
}

.add_coupon a.btn {
    display: block;
    background-color: #DC1431;
    color: #fff;
    font-size: 14px;
    border-radius: 0px;
    width: 130px;
    margin: auto;
}

.goal_box {
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
    margin-top: 30px;
    padding: 10px 0 18px;
}

.goal_box i {
    font-size: 60px;
}

.goal_box h3 {
    font-size: 20px;
    border-top: 1px solid #ccc;
    padding-top: 12px;
    margin-bottom: 0;
}

.goal_box h3 a {
    text-decoration: none;
}

.hed.account_head {
    margin-bottom: 0;
    padding: 0px 0;
}

.head.accout_bg {
    background: #f2f2f2;
}

.head.accout_bg .hed ul li a {
    font-size: 16px;
}

.head.accout_bg .hed ul li a.active {
    background: #fff;
}

.hed.account_head .navbar {
    padding: 0px;
    margin-top: 10px !important;
}

.head.accout_bg .hed ul li a {
    padding: 12px 15px;
}

.accout_logo {
    background: #dc1431;
    padding: 20px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.accout_logo a.logo img {
    height: 32px;
    margin-left: 0px;
}

.accout_logo button.navbar-toggler {
    background: #fff;
    right: 110px;
}

.hed.account_head button.navbar-toggler {
    color: #dc1431;
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accout_logo a.login {
    right: 68px !important;
    border: none !important;
    padding: 0 8px !important;
    color: #fff !important;
}

.accout_logo button.navbar-toggler img {
    height: 32px;
}

.hed.second_header ul li.nav-item a {
    display: inherit;
    font-size: 16px;
    color: #fff;
}

.hed.second_header {
    background: transparent;
    margin: 0;
    padding: 0;
}

.hed.second_header ul {
    text-align: end;
}

.hed.second_header ul li.nav-item.dropdown ul li {
    display: block;
    margin: 0px;
}

.hed.second_header ul li.nav-item.dropdown ul {
    text-align: initial;
    padding: 8px 0px;
    margin-top: 6px;
}

.hed.second_header ul li a {
    font-size: 16px;
    color: #fff;
}

.hed.second_header ul li {
    margin-right: 0;
    position: relative;
}

.hed.second_header ul li.nav-item.dropdown {
    padding: 0;
}

.hed.second_header ul li:not(:last-child) {
    margin-right: 32px;
}

.hed.second_header ul li:not(:last-child):after {
    position: absolute;
    content: "";
    background: #fff;
    width: 19px;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(90deg);
    right: -25px;
}

.hed.second_header ul li a img {
    vertical-align: sub;
    height: 22px;
}

.hed.second_header .navbar {
    padding: 0;
}

.accout_logo .search.float-end {
    color: #fff;
    font-size: 16px;
}

.accout_logo .search.float-end i {
    font-size: 20px;
    margin-left: 4px;
}

.navbar-expand-lg .navbar-toggler {
    display: none !important;
}

.hed.second_header ul li.nav-item.dropdown ul li a {
    color: #000;
    padding: 5px 10px;
}

.hed.second_header ul li.nav-item.dropdown ul li:not(:last-child):after {
    display: none;
}

/** Large devices (desktops, less than 1600px) **/
@media (max-width: 1599.98px) {
    .header .navbar ul li.nav-item {
        padding: 0 32px;
    }

}

/** Large devices (desktops, less than 1400px) **/

@media (max-width: 1399.98px) {

    .transition_tab table.table {
        width: 1200px;
    }

    section#home_banner {
        padding: 16px 0 25px;
    }

    section#home_banner .heading h2 {
        font-size: 32px;
        line-height: 34px;
    }

    .atm_add {
        width: 238px;
    }

    .home_form {
        width: 238px;
    }

    .header .hed ul li {
        margin-right: 9px;
    }

    .header .navbar ul li.nav-item {
        padding: 0 17px;
    }

}

/** Large devices (desktops, less than 1200px) **/
@media (max-width: 1199.98px) {


    .hed.account_head .navbar {
        margin-top: 0px !important;
    }

    .head.accout_bg {
        background: transparent;
    }

    .head.accout_bg .hed ul li {
        margin-right: 5px;
    }

    .head.accout_bg .hed ul li a {
        font-size: 14px;
    }

    .hed.account_head {
        padding: 0px 0 !important;
    }

    .goal_box i {
        font-size: 45px;
    }

    .add_coupon h3 {
        font-size: 18px;
    }

    .goal_box h3 {
        font-size: 15px;
    }

    .transition_tab th {
        font-size: 14px;
        padding: 12px 10px;
    }

    .transition_tab td {
        font-size: 14px;
        padding: 12px 10px;
    }

    .transition_tab ul li a {
        font-size: 15px;
    }

    .transition_tab .fiter_btn {
        margin-top: 26px;
    }

    .transition_tab .fiter_btn p {
        font-size: 16px;
    }

    .transition_tab .form-group button {
        top: 28px;
        height: 45px;
        width: 45px;
        font-size: 16px;
    }

    .transition_tab .form-group input {
        height: 45px;
        font-size: 14px;
    }

    .transition_tab .form-group label {
        font-size: 14px;
    }

    .transition_tab .form-group select {
        height: 45px;
        font-size: 14px;
    }

    .transition_tab h2 {
        font-size: 24px;
        margin: 12px 0;
    }

    .accounts_tab .spacing {
        padding-right: 30px;
    }

    section#tab_sec .nav-link {
        font-size: 15px;
    }

    .accounts_tab .set h3 {
        font-size: 18px;
    }

    .accounts_tab .set h4 {
        margin-bottom: 12px;
        font-size: 14px;
    }

    .accounts_tab .set h5 {
        margin-bottom: 12px;
        font-size: 15px;
    }

    .accounts_tab .set p {
        font-size: 15px;
    }

    .accounts_tab .set h2 {
        font-size: 28px;
    }

    .accounts_tab h1 a {
        font-size: 16px;
    }

    .accounts_tab h1 i {
        font-size: 21px;
    }



    .accounts_tab h1 {
        font-size: 20px;
        padding: 20px 0 20px;
    }

    .showtext {
        padding: 40px 20px 0;
    }

    .header .navbar ul li.nav-item {
        padding: 0 9px;
    }

    .header .hed {
        padding: 6px 20px 8px;
    }

    .header a.logo img {
        height: 30px;
        margin-left: 20px;
    }

    .header .navbar {
        padding: 0 20px;
    }

    .atm_add {
        width: 270px;
    }

    .home_form {
        width: 270px;
    }
}

/**  Medium devices (tablets, less than 992px) **/
@media (max-width: 991.98px) {

    section#online_bank .legal-invest-table .cell {
        font-size: 14px;
        padding: 9px 9px;
    }

    section#online_bank {
    padding: 20px 30px;
}

    .information_sec .phone_box a.btn {
        font-size: 16px !important;

    }

    .information_sec .phone_box h3 {
        font-size: 24px !important;
    }

    section#information .phone_img {
        height: 335px;
        background-size: 270px 560px, cover;
        background-position: 95% 11px, center;
    }

    section#information .phone_box a.btn {
        font-size: 16px;    
    }

    section#information .phone_box p {
        font-size: 16px;
        line-height: 26px;
        margin-top: 10px;
    }

    section#information .phone_box h3 {
        font-size: 20px;
        margin-top: 35px;
    }

    section#information h1 {
        font-size: 32px;
        line-height: 20px;
        margin-bottom: 0px;
    }

    section#financial h3 {
        font-size: 16px;
        margin-top: 10px;
    }

    section#financial .home:after {
        bottom: 33px;
    }

    section#financial .owl-dots {
        display: none;
    }

    section#financial .item {
        margin: 0 5px;
    }

    section#financial h1 {
        font-size: 32px;
    }

    section#financial h2 {
        font-size: 16px;
    }

    section#financial .home {
        margin-top: 32px;
    }

    .hed.second_header ul li.nav-item.dropdown ul li {
        display: block;
        margin: 0px;
        width: auto;
        float: inherit;
    }

    .hed.second_header .navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
    }

    .hed.second_header ul li a img {
        display: none;
    }

    .hed.second_header ul li:not(:last-child):after {
        display: none;
    }

    .hed.second_header ul li:not(:last-child) {
        margin-right: 0px;
    }

    .second_head .navbar-collapse {
        border: none !important;
        margin: 20px 0px 0 !important;
    }

    .second_head .navbar-collapse .Wealth {
        padding: 8px 14px !important;
    }

    .hed.second_header ul li.nav-item a {
        font-size: 14px !important;
        color: #000;
        padding: 0;
    }

    .hed.second_header ul {
        text-align: inherit;
    }

    .hed.second_header ul li a {
        font-size: 14px !important;
        color: #000;
    }

    .second_head {
        padding: 0 !important;
    }

    .hed.account_head .navbar-collapse {
        margin: 0px 0px 0;
    }

    .accout_logo a.login {
        top: 21px !important;
    }

    .accout_logo button.navbar-toggler {
        right: 114px;
        top: -35px;
        position: absolute;
        width: 40px;
        height: 40px;
    }

    .hed.account_head button.navbar-toggler {
        top: -56px;
    }

    .navbar-expand-lg .navbar-toggler {
        display: block !important;
    }

    .head.accout_bg .hed ul li {
        margin-right: 0px;
    }

    .accounts_tab .set h3 {
        margin-top: 12px;
    }


    .mob_nav .mobile-buttons a {
        border: 2px solid #dc1532;
        height: 44px;
        display: inline-block;
        padding: 13px 8px;
        padding-left: 8px;
        border-radius: 4px;
        color: #dc1532;
        font-size: 13px;
        line-height: 13px;
        padding-left: 43px;
        position: relative;
    }

    .mob_nav .mobile-buttons a img {
        position: absolute;
        left: 6px;
        top: 4px;
    }

    .mob_nav .mobile-buttons {
        display: flex;
    }

    .mob_nav .mobile-buttons a img {
        margin-right: 10px;
    }

    .mob_nav .mobile-buttons li {
        width: auto;
        margin-right: 30px;
    }

    .mob_nav .mobile-buttons li:last-child a {
        border: 2px solid #0073cf;
        color: #0073cf;
    }

    .mob_nav {
        padding: 40px 30px;
    }

    .mob_nav ul {
        max-width: 500px;
        margin: auto;
        list-style: none;
        padding: 0;
    }

    .mob_nav ul li a img {
        height: 32px;
    }

    .mob_nav ul li {
        width: 49%;
        display: inline-block;
        margin: 12px 0;
    }

    .mob_nav ul li a {
        color: #0073CF;
        font-size: 16px;
        text-decoration: navajowhite;
    }

    .atm_add {
        width: 210px;
        margin: auto;
        float: inherit;
    }

    .home_form {
        width: 210px;
        margin: auto;
        float: inherit;
    }

    .header .hed {
        padding: 0;
        background: transparent;
        margin-bottom: 0;
    }

    .navbar-toggler {
        position: absolute;
        right: 12px;
        top: -30px;
        color: #DC1431;
        outline: none !important;
        font-size: 24px;
        padding: 0;
        box-shadow: none !important;
    }

    .header a.logo img {
        margin-left: 12px;
    }

    .header div.navbar,
    .header .tab-content {
        display: none;
    }

    .header {
        padding: 35px 0;
    }

    .header .head {
        order: 2;
    }

    .header .navbar-collapse {

        background: #F2F2F2;
        border-top: 1px solid #ccc;
        margin: 40px -32px 0;
    }

    .header .navbar-collapse .Wealth {
        padding: 30px 90px;
    }

    .header .hed ul li {
        width: 50%;
        float: left;
        margin: 0 0 14px;
        font-size: 18px;
    }

    .header .hed ul li a {
        font-size: 18px;
    }

    .header a.login {
        position: absolute;
        right: 60px;
        top: 36px;
        color: #dc1431;
        text-decoration: none;
        font-weight: 600;
        font-size: 17px;
        border-right: 2px solid;
        padding: 0 14px;
    }

    .header .navbar-collapse form button {
        position: absolute;
        right: 0;
        color: #012169;
        background-color: #fff;
        border: 1px solid #012169;
        line-height: 45px;
        width: 115px;
        border-radius: 30px;
        font-size: 20px;
        padding: 0;
        height: 50px;
    }

    .header .navbar-collapse form input {
        height: 48px;
        border-radius: 4px;
        background-color: #fff;
        width: 100%;
        padding: 0 20px;
        border: 1px solid #626262;
    }

    .header .navbar-collapse .mainsearch {
        padding: 12px 12px;
        border-bottom: 1px solid #ccc;
    }

    .header .navbar-collapse form {
        text-align: center;
        max-width: 500px;
        margin: auto;
        padding-right: 130px;
        position: relative;
    }
}

/** Small devices (landscape phones, less than 768px)**/
@media (max-width: 767.98px) {

    section#information h1 {
        text-align: left;
    }

    section#save_card:before {
       display: none;
    }

    section#save_card::after {
        display: none;
     }

    section#save_card .box a i {
        font-size: 14px;
    }
    
    section#save_card .col-lg-3:not(:last-child)::after {
       display: none;
    }

    section#save_card {
        padding: 30px 0 20px;
    }

    section#save_card .box a {
        font-size: 14px;
    }

    section#save_card .box h2 {
        font-size: 18px;
    }

    section#save_card .box h2 br {
        display: none;
    }

    section#save_card .box p {
        font-size: 14px;
    }
    
    

    section#save_card .box img {
        height: 34px;
    }

    section#save_card .box {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
    }

    .comment_box .set a i {
        font-size: 13px;
    }

    .comment_box .set {
        padding: 12px 12px;
    }

    .comment_box .set a {
        font-size: 14px;
    }

    .comment_box .set h2 {
        font-size: 18px;
    }

    section#comment .pe-0 {
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
    }

    section#comment .ps-0 {
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }

    .comment_box {
        padding-left: 20px;
        height: 280px;
    }
    
    

    section#home_banner .heading a.btn {
        margin-top: 8px;
        font-size: 15px;
    }

    section#home_banner .heading p {
        max-width: 100%;
        font-size: 16px;
        line-height: 24px;
    }

    section#home_banner .heading {
        padding: 0 20px;
    }

    section#home_banner .heading h2 {
        font-size: 26px;
        line-height: 30px;
        margin-top: 15px;
        width: 100%;
        max-width: 100%;
    }

    .atm_add {
        width: 90%;
        max-width: 100%;
    }

    .home_form {
        width: 90%;
        max-width: 100%;
        padding: 20px 20px 40px;
    }

    section#information h1 {
        font-size: 28px;
    }

    section#financial h1 {
        font-size: 28px;
    }

    section#online_bank {
        padding: 20px 15px;
    }

    section#footer {
        padding: 30px 10px;
    }

    .accounts_tab h1 a {
        font-size: 14px;
    }

    .accounts_tab h1 i {
        font-size: 17px;
        margin: 0 14px;
    }

    .accounts_tab h1 {
        font-size: 18px;
        padding: 10px 0 10px;
    }

    .header .navbar-collapse .Wealth {
        padding: 10px 60px;
    }

    .header .hed ul li {
        width: 100%;
    }
}

/** Small devices (landscape phones, less than 575px)**/
@media (max-width: 575.98px) {

    section#information {
        padding: 0 10px;
    }

    section#online_bank .legal-invest-table .cell {
        padding: 14px 9px;
        width: 100%;
        display: inline-block;
    }
    
    section#footer .socail ul li img {
        height: 23px;
    }

    section#information .phone_box h3 {
        margin-top: 18px;
    }

    section#information {
        margin-top: 40px;
    }

    section#information .phone_box h3 {
        max-width: 100%;
    }
    
    .information_sec {
        padding: 0 10px;
    }

    .accout_logo button.navbar-toggler {
        top: -33px;
    }

    .hed.account_head button.navbar-toggler {
        top: -53px;
    }


    .accout_logo a.login {
        top: 16px !important;
    }

    section#tab_sec .nav-link {
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
    }

    section#tab_sec ul#pills-tab {
        justify-content: space-between;
    }


    .mob_nav .mobile-buttons li {
        width: auto;
        margin-right: 14px;
    }

    .mob_nav ul li a img {
        height: 28px;
    }

    .header a.logo img {
        height: 22px;
    }

    .header {
        padding: 15px 0;
    }

    .navbar-toggler {
        top: -27px;
    }

    .header a.login {
        top: 15px;
    }

    .header .navbar-collapse {
        margin: 15px -32px;
    }
}

/** Small devices (landscape phones, less than 480px)**/
@media (max-width: 480px) {

    .accout_logo button.navbar-toggler {
        right: 86px;
        top: -30px;
        width: 35px;
        height: 35px;
    }

    .accout_logo a.login {
        top: 18px !important;
        font-size: 15px;
        right: 48px !important;
    }

    .hed.account_head button.navbar-toggler {
        top: -51px;
        right: 0px;
        width: 35px;
        height: 35px;
    }


    .mob_nav .mobile-buttons a {
        padding: 5px 8px;
        padding-left: 43px;
    }

    .mob_nav .mobile-buttons a img {
        top: 6px;
    }

    .mob_nav {
        padding: 40px 25px;
    }

    .header a.logo img {
        height: 19px;
    }

    .header a.logo img {
        margin-left: 0px;
    }

    .header a.login {
        top: 14px;
    }
}